body {
  background: _palette(bg);
}

body, input, select, textarea {
  color: _palette(fg);
  font-family: _font(family);
  font-size: 16pt;
  font-weight: _font(weight);
  line-height: 1.65em;
  letter-spacing: -0.015em;
}

a {
  @include vendor('transition', ('color #{_duration(transition)} ease-in-out', 'border-bottom-color #{_duration(transition)} ease-in-out'));
  border-bottom: dotted 1px;
  color: _palette(accent2, bg);
  text-decoration: none;

  &:hover {
    border-bottom-color: transparent;
  }
}

strong, b {
  color: _palette(fg-bold);
  font-weight: _font(weight-bold);
}

em, i {
  font-style: italic;
}

p {
  margin: 0 0 _size(element-margin) 0;
}

h1, h2, h3, h4, h5, h6 {
  color: _palette(fg-bold);
  font-weight: _font(weight);
  line-height: 1em;
  margin: 0 0 (_size(element-margin) * 0.25) 0;

  a {
    color: inherit;
    text-decoration: none;
  }
}

h2 {
  font-size: 2.25em;
  line-height: 1.5em;
  letter-spacing: -0.035em;
}

h3 {
  font-size: 1.75em;
  line-height: 1.5em;
  letter-spacing: -0.025em;
}

h4 {
  font-size: 1.1em;
  line-height: 1.5em;
  letter-spacing: 0;
}

h5 {
  font-size: 0.9em;
  line-height: 1.5em;
  letter-spacing: 0;
}

h6 {
  font-size: 0.7em;
  line-height: 1.5em;
  letter-spacing: 0;
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

hr {
  border: 0;
  border-bottom: solid 2px _palette(border);

  // This is the *only* instance where we need to rely on margin collapse.
  margin: _size(element-margin) 0;

  &.major {
    margin: (_size(element-margin) * 1.5) 0;
  }
}

blockquote {
  border-left: solid 4px _palette(border);
  font-style: italic;
  margin: 0 0 _size(element-margin) 0;
  padding: 0.5em 0 0.5em 2em;
}

pre {
  -webkit-overflow-scrolling: touch;
  background: _palette(border-bg);
  border-radius: _size(border-radius);
  border: solid 1px _palette(border);
  font-family: _font(family-fixed);
  font-size: 0.9em;
  line-height: 1.75em;
  margin: 0 0 _size(element-margin) 0;
  overflow-x: auto;
  padding: 1em 1.5em;
}

code {
  background: _palette(border-bg);
  border-radius: _size(border-radius);
  border: solid 1px _palette(border);
  font-family: _font(family-fixed);
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}