@import 'libs/vars';
@import 'libs/functions';

.hidden {
	display: none !important;
}

.date {
  display: block;

  .until-now {
    font-style: italic;
  }
}

#main > header {
  display: none;
}

details {
  & > summary {
    color: _palette(fg-bold);
    margin: 0 0 _size(element-margin) 0;
    cursor: pointer;
    margin-left: -1.5em;

    &.icon {
      list-style: none;

      &::-webkit-details-marker {
        display: none;
      }

      &::before {
        content: "\f138";
        margin-right: 0.5em;
        width: 1em;
      }
    }
    &::after {
      content: "\2026";
    }
  }
  &[open] > summary {
    &.icon::before {
      content: "\f13a";
    }
    &::after {
      content: ":";
    }
  }

  &.h3 {
    & > summary {
      &.icon::after {
        content: none;
      }
      h3 {
        display: inline;
        margin-left: -0.1em;
      }
    }
  }

  & > article, & > .details {
    border-left: solid 4px _palette(border);
    margin: 0 0 _size(element-margin) calc(-1em - 4px);
    padding: 0 0 0 1em;
  }

  &.projects > article {
    font-style: italic;
    margin-left: 0;
  }
}

article > p, article > div.cv-skills {
  margin: 0 0 0.5em 0;
}

article {
  margin: 0 0 1.5em 0;
}

ul.skills {
  display: inline;
  list-style: none;
  padding: 0;

  li {
    display: inline;
    padding: 0;
  }

  li[data-skill] {
    span {
      border-radius: 3px;
    }
  }

  li::after {
    content: ", ";
  }

  li:last-child::after {
    content: ".";
  }
}

@media print {
  #header, #footer, #navPanel, #navButton, .dropotron {
    display: none;
  }

  body {
    background: #fff;
    font-size: 12pt;
  }

  .box {
    box-shadow: none;
    margin: -2em 0 0 0;
    padding: 0;
    clear: both;

    .banner {
      display: none !important;
    }
  }

  details {
    & > summary {
      display: none;
      margin-left: 0;
      margin-bottom: 1em;
      &.icon::before {
        content: none;
        margin-right: 0;
      }
    }
    &[open] > summary {
      display: block;
      &.icon::before {
        content: none;
      }
    }
  }

  #page-wrapper {
    padding: 0;
  }


  #main {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: none;

    & > header {
      display: block;
      float: left;
      width: 100%;
      h2 {
        font-size: 1.75em;
        text-align: left;
        float: left;
        width: 50%;
      }
      h2 + p {
        font-size: 1.5em;
      }
      p {
        border-top: none;
        margin-top: 0;
        padding: 0;
        text-align: right;
        float: left;
        width: 50%;
      }
    }
  }

}