@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';

/*
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

// Breakpoints.

@include breakpoints((
	wide:      ( 1281px,  1680px ),
	normal:    ( 981px,   1280px ),
	narrow:    ( 737px,   980px  ),
	narrower:  ( 737px,   840px  ),
	mobile:    ( 481px,   736px  ),
	mobilep:   ( null,    480px  )
));

// Base.
@import 'base/reset';
@import 'base/page';
@import 'base/typography';

// Component.
@import 'components/row';
@import 'components/container';
@import 'components/section';
@import 'components/form';
@import 'components/box';
@import 'components/icon';
@import 'components/image';
@import 'components/list';
@import 'components/actions';
@import 'components/table';
@import 'components/button';
@import 'components/header';
@import 'components/banner';
@import 'components/main';
@import 'components/footer';
@import 'components/cta';

// Layout.
@import 'layout/responsive';

// Misc.
.dropotron li a.icon:before {
	margin-right: 0.5em;
}

#main > .box {
	& > section {
		padding-top: 3.25em;
		margin-top: -3.25em;
	}
	& > section, & > p {
		margin-left: 1em;
	}
}

header.h3 p, header h3+p {
	font-size: 1.1em;
	line-height: 1.5em;
	margin-bottom: 0.25em;
}

header.h4 p, header h4+p {
	margin-bottom: 0.25em;
}