<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="assets/js/theme/jquery.dropotron.min.js"></script>
<script src="assets/js/theme/jquery.scrollex.min.js"></script>
<script src="assets/js/theme/browser.min.js"></script>
<script src="assets/js/theme/breakpoints.min.js"></script>
<script src="assets/js/theme.js"></script>
<script src="assets/js/cv.js"></script>

</body>
</html>