<!DOCTYPE HTML>
<html lang="<%= lang %>" prefix="<%- include('mixins/metadata-html-prefix.ejs'); %>">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= title %></title>
  <meta name="description" content="<%= description %>" />
  <base target="_blank" />
<%_ for (const otherLang of config.languages.enabled) { -%>
  <link rel="alternate" href="<%= config.base_dir + otherLang + config.page_suffix %>" hreflang="<%= otherLang %>" />
<%_ } -%>
  <link rel="alternate" href="<%= config.base_dir %>" hreflang="x-default" />
  <link rel="shortcut icon" href="<%= config.base_dir %>favicon.ico" />
  <%- include('mixins/preconnect.ejs'); %>
  <link rel="stylesheet" href="assets/css/theme.css" />
  <link rel="stylesheet" href="assets/css/cv.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300;1,400&display=swap" />
<%- include('mixins/metadata-header.ejs', {title, description}); %>
</head>
<body class="is-preload">