<%- include('base/header.ejs', {lang, title: config.home.title + ' - ' + cv.title[lang], description: cv.description[lang]}); %>

<%- include('cv/header.ejs'); %>
<%- include('cv/experience.ejs'); %>
<%- include('cv/education.ejs'); %>
<%- include('cv/technical-skills.ejs'); %>
<%- include('cv/social-skills.ejs'); %>
<%- include('cv/footer.ejs'); %>

<%- include('base/footer.ejs'); %>