<!DOCTYPE HTML>
<%
  const lang = config.languages.default,
        title = config.home.title + ' - ' + cv.title[lang],
        description = cv.description[lang];
-%>
<html lang="<%= lang %>" prefix="<%- include('base/mixins/metadata-html-prefix.ejs'); %>">
<head>
  <meta charset="utf-8" />
  <title><%= title %></title>
  <meta name="description" content="<%= description %>">
  <meta http-equiv="refresh" content="5; URL=<%= config.base_dir + lang + config.page_suffix %>" />
  <%- include('base/mixins/preconnect.ejs'); %>
  <script>
    (function () {
      let destinationLanguage = <%- JSON.stringify(lang) %>;
      if (navigator.languages && navigator.languages.length) {
        const availableLanguages = <%- JSON.stringify(config.languages.enabled) %>;
        for (const lng of navigator.languages.map(l => l.split(/-/,2)[0])){
          if (availableLanguages.indexOf(lng)>=0) {
            destinationLanguage = lng;
            break;
          }
        }
      }
      window.location.replace(destinationLanguage <%- config.page_suffix ? ' + ' + JSON.stringify(config.page_suffix) : '' %> + window.location.hash);
    })();
  </script>
<%_ for (const otherLang of config.languages.enabled) { -%>
  <link rel="alternate" href="<%= config.base_dir + otherLang + config.page_suffix %>" hreflang="<%= otherLang %>" />
<%_ } -%>
  <link rel="alternate" href="<%= config.base_dir + (config.main_page_file?'index.html':'') %>" hreflang="x-default" />
  <link rel="shortcut icon" href="<%= config.base_dir %>favicon.ico" />
<%- include('base/mixins/metadata-header.ejs', {title, description}); %>
</head>
<body>
  <h1><%= title %></h1>
  <p><%= description %></p>
  <nav>
    <ul>
<%_ for (const otherLang of config.languages.enabled) { -%>
      <li><a href="<%= otherLang + config.page_suffix %>" target="_self"><%= locale[otherLang].language %></a></li>
<%_ } -%>
    </ul>
  </nav>
</body>
</html>