<%_ const now = (new Date()).toISOString(); -%>
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
  <url>
    <loc><%= config.base_dir %></loc>
    <lastmod><%= now %></lastmod>
    <xhtml:link rel="alternate" hreflang="x-default" href="<%= config.base_dir + (config.main_page_file?'index.html':'') %>"/>
<%_ for (const otherLang of config.languages.enabled) { -%>
    <xhtml:link rel="alternate" hreflang="<%= otherLang %>" href="<%= config.base_dir + otherLang + config.page_suffix %>"/>
<%_ } -%>
  </url>
<%_ for (const otherLang of config.languages.enabled) { -%>
  <url>
    <loc><%= config.base_dir + otherLang + config.page_suffix %></loc>
    <lastmod><%= now %></lastmod>
    <xhtml:link rel="alternate" hreflang="x-default" href="<%= config.base_dir + (config.main_page_file?'index.html':'') %>"/>
<%_ for (const otherLang of config.languages.enabled) { -%>
    <xhtml:link rel="alternate" hreflang="<%= otherLang %>" href="<%= config.base_dir + otherLang + config.page_suffix %>"/>
<%_ } -%>
  </url>
<%_ } -%>
</urlset>