<article class="col-6 col-12-mobilep">
  <header>
    <h4><%_ if (congress.url) { -%><a href="<%= congress.url %>" rel="noopener noreferrer" target="_blank"><%= congress.name %></a><%_ } else { -%><%= congress.name -%><%_ } -%></h4>
    <p>
      <%- include('time.ejs', {dates: congress.date}); -%>
      <%_ if (congress.school && congress.school[lang]) { -%>
      <%= congress.location %>
      <%_ } -%>
    </p>
  </header>
  <%_ if (congress.summary && congress.summary[lang]) { -%>
  <%- marked(congress.summary[lang]) -%>
  <%_ } -%>
</article>