<li><a href="<%= item.url %>"
  class="icon <%= item.classes %>"
  target="_blank"
  rel="<%= item.rel ? item.rel + ' ' : '' %>noopener"
  title="<%= item.name %>"><span class="label"><%= item.name %></span></a></li>