<article>
  <header>
    <h4><%_ if (job.company.url) { -%><a href="<%= job.company.url %>" rel="noopener noreferrer" target="_blank"><%= job.company.name %></a><%_ } else { -%><%= job.company.name -%><%_ } -%></h4>
    <p>
      <%- include('time.ejs', {dates: job.dates}); -%>
      <%= job.title[lang] %>
    </p>
  </header>
  <%- marked(job.summary[lang]) -%>
<%_ if (job.tools) { -%>
  <div class="cv-skills">
    <span><%= locale[lang].cv.experience.tools -%>:</span>
    <%- include('skills.ejs', {skills: job.tools}); -%>
  </div>
<%_ } -%>
<%_ if (job.projects) { -%>
  <details class="projects">
    <summary class="icon solid"><%= locale[lang].cv.experience.projects %></summary>
<%_ for (const project of job.projects) { -%>
    <%- include('project.ejs', {project}); -%>
<%_ } -%>
  </details>
<%_ } -%>
</article>