<article>
  <header>
    <h5><%= project.name[lang] %></h5>
    <p>
      <%_ if (project.dates) { -%>
      <%- include('time.ejs', {dates: project.dates}); -%>
      <%_ } -%>
      <%= project.responsability[lang] %>
    </p>
  </header>
  <%- marked(project.summary[lang]) -%>
  <%_ if (project.tools) { -%>
  <div class="cv-skills">
    <span><%= locale[lang].cv.experience.project_tools -%>:</span>
    <%- include('skills.ejs', {skills: project.tools}); -%>
  </div>
  <%_ } -%>
</article>