<ul class="skills">
<%_ for (const text of skills) { -%>
  <li
<%_ if (cv.non_clickable_technical_skills.indexOf(text)<0) { -%>
  data-skill="<%= (text.indexOf('(') < 0 ? text : text.slice(0, text.indexOf('('))).trim().toLowerCase() %>"
<%_ } -%>
><%_
    let found;
    if (found = text.match(/^\s*(.*)\s*<(.*)>\s*$/)) {
-%><abbr title="<%= found[2] %>"><%= found[1] %></abbr><%_
    } else {
-%><span><%= text %></span><%_
    }
-%></li>
<%_ } -%>
</ul>