<article>
  <header>
    <h4><%= study.title[lang] %></h4>
    <p>
      <%- include('time.ejs', {dates: study.dates}); -%>
      <%_ if (study.school && study.school[lang]) { -%>
      <%= study.school[lang] %>
      <%_ } -%>
      <%_ if (study.university && study.university[lang]) { -%>
      <%= study.university[lang] %>
      <%_ } -%>
    </p>
  </header>
  <%_ if (study.details && study.details[lang]) { -%>
  <%- marked(study.details[lang]) -%>
  <%_ } -%>
</article>