<span class="date" data-range="<%= dates %>">
<%_
var dates_fmt = new Intl.DateTimeFormat(lang, {
      month: 'long',
      year: 'numeric'
    }),
    date_arr = dates.split('/'),
    d1str = date_arr[0].trim(),
    d1 = new Date(Date.parse(d1str));
function format_parts(d) {
  var parts = Object.fromEntries(dates_fmt.formatToParts(d).map(({type, value}) => [type, value]));
  return `${parts.month.charAt(0).toUpperCase() + parts.month.slice(1)} ${parts.year}`;
}
-%>
<time datetime="<%= d1str %>" ><%= format_parts(d1) %></time>
<%_
if (date_arr.length > 1) {
-%> – <%
  var d2str = date_arr[1].trim();
  if (d2str.match(/^-/)) {
-%>
<span class="until-now"><%= locale[lang].time.present %></span>
<%_ } else {
  var d2 = new Date(Date.parse(d2str));
-%>
<time datetime="<%= d2str %>"><%= format_parts(d2) %></time>
<%_ }} -%></span>