<article class="col-6 col-12-mobilep">
  <header>
    <h4><%_ if (volunteering.url) { -%><a href="<%= volunteering.url %>" rel="noopener noreferrer" target="_blank"><%= volunteering.name[lang] %></a><%_ } else { -%><%= volunteering.name[lang] -%><%_ } -%></h4>
    <p><%- include('time.ejs', {dates: volunteering.dates}); -%></p>
  </header>
  <%- marked(volunteering.summary[lang]) -%>
</article>