<section id="education">
  <header>
    <h3><%= locale[lang].cv.sections.education -%></h3>
    <p><%= locale[lang].cv.subsections.education.academic_studies -%></p>
  </header>
<%_ for (const study of cv.academic_studies.slice(0, config.display_limit.education)) { -%>
  <%- include('mixins/study.ejs', {study}); -%>
<%_ } -%>
  <details>
    <summary class="icon solid"><%= locale[lang].cv.education.more_education %></summary>
<%_ for (const study of cv.academic_studies.slice( config.display_limit.education)) { -%>
    <%- include('mixins/study.ejs', {study}); -%>
<%_ } -%>

    <div class="details">
      <header class="h3">
        <p><%= locale[lang].cv.subsections.education.congresses -%></p>
      </header>
<%_
  for (let i = 0; i < cv.congresses.length; i++) {
    if (i%2 == 0) {
-%>
      <div class="row">
<%_ } -%>
        <%- include('mixins/congress.ejs', {congress: cv.congresses[i]}); -%>
<%_
    if ((i+1)%2 == 0 || i == cv.congresses.length - 1) {
-%>
      </div>
<%_ }} -%>
    </div>

    <div class="details">
      <header class="h3">
        <p><%= locale[lang].cv.sections.languages -%></p>
      </header>
<%_
  for (let i = 0; i < cv.languages[lang].length; i++) {
    if (i%2 == 0) {
-%>
      <div class="row">
<%_ } -%>
        <%- include('mixins/language.ejs', {language: cv.languages[lang][i]}); -%>
<%_
    if ((i+1)%2 == 0 || i == cv.languages[lang].length - 1) {
-%>
      </div>
<%_ }} -%>
    </div>
  </details>
</section>