<section id="experience">
  <header>
    <h3><%= locale[lang].cv.sections.experience -%></h3>
    <p><%= locale[lang].cv.subsections.experience.vocational -%></p>
  </header>
<%_ for (const job of cv.experience_vocational.slice(0, config.display_limit.experience)) { -%>
  <%- include('mixins/job.ejs', {job}); -%>
<%_ } -%>
<%_ if (cv.experience_vocational.length > config.display_limit.experience) { -%>
  <details>
    <summary class="icon solid"><%= locale[lang].cv.experience.more_experiences %></summary>
<%_ for (const job of cv.experience_vocational.slice(config.display_limit.experience)) { -%>
  <%- include('mixins/job.ejs', {job}); -%>
<%_ } -%>
  </details>
<%_ } -%>
</section>