    </div>
  </section>

  <footer id="footer">
    <ul class="icons">
      <%_ for (const item of config.footer_icons) { -%>
      <%- include('mixins/icon-item.ejs', {item}); -%>
      <%_ } -%>
      <li class="hidden"><a href="#share" id="share" class="icon" title="Share…"><span class="label">Share…</span></a></li>
    </ul>
    <ul class="copyright">
      <%_ for (const text of config.copyright) { -%>
        <li><%- text %></li>
      <%_ } -%>
      <li>Design by <a href="https://html5up.net" rel="noopener" target="_blank">HTML5 UP</a></li>
    </ul>
  </footer>

</div>