<div id="page-wrapper">

  <header id="header">
    <h1><a href="<%= config.home.url %>" target="_self" rel="me"><%= config.home.title -%></a> <%= cv.title[lang] -%></h1>
    <nav id="nav">
      <ul>
        <%_ for (const item of config.menu_items.before) { -%>
        <%- include('mixins/menu-item.ejs', {item}); -%>
        <%_ } -%>
        <li>
          <a href="#main" class="icon regular fa-caret-square-down" target="_self"><%= cv.title[lang] -%></a>
          <ul>
            <li>
              <a href="#main" class="icon solid fa-chevron-circle-left" target="_self"><%= locale[lang].menu.sections -%></a>
              <ul>
                <li><a href="#experience" target="_self"><%= locale[lang].cv.sections.experience -%></a></li>
                <li><a href="#education" target="_self"><%= locale[lang].cv.sections.education -%></a></li>
                <li><a href="#technicalSkills" target="_self"><%= locale[lang].cv.sections.technical_skills -%></a></li>
                <li><a href="#socialSkills" target="_self"><%= locale[lang].cv.sections.social_skills -%></a></li>
              </ul>
            </li>
            <%_ for (const otherLang of config.languages.enabled) { if (otherLang != lang) { -%>
                <li><a href="<%= otherLang + config.page_suffix %>" class="icon solid fa-globe-europe" target="_self"><%= locale[otherLang].language %></a></li>
            <%_ }} -%>
          </ul>
        </li>
        <%_ for (const item of config.menu_items.after) { -%>
        <%- include('mixins/menu-item.ejs', {item}); -%>
        <%_ } -%>
      </ul>
    </nav>
  </header>

  <section id="main" class="container">
    <header>
      <h2><%= cv.full_name[lang] %></h2>
      <p><%= cv.title[lang] %></p>
    </header>
    <div class="box">
      <span class="image featured banner"><img src="<%= cv.banner.url %>" alt="<%= cv.banner.alt[lang] %>" /></span>
      <span class="image right avatar"><img src="<%= cv.avatar.url %>" alt="<%= cv.avatar.alt[lang] %>" /></span>
      <%- marked(cv.quote[lang]) %>