<section id="socialSkills">
  <details class="h3">
    <summary class="icon solid">
      <h3><%= locale[lang].cv.sections.social_skills -%></h3>
    </summary>
    <div class="details">
      <header>
        <p><%= locale[lang].cv.subsections.social_skills.skills -%></p>
      </header>
      <div><%- marked(cv.social_skills.skills[lang]) -%></div>
    </div>

    <div class="details">
      <header class="h3">
        <p><%= locale[lang].cv.subsections.social_skills.volunteer -%></p>
      </header>
<%_
  for (let i = 0; i < cv.social_volunteering.length; i++) {
    if (i%2 == 0) {
-%>
      <div class="row">
<%_ } -%>
        <%- include('mixins/volunteering.ejs', {volunteering: cv.social_volunteering[i]}); -%>
<%_
    if ((i+1)%2 == 0 || i == cv.social_volunteering.length - 1) {
-%>
      </div>
<%_ }} -%>
    </div>

    <div class="details">
      <header class="h3">
        <p><%= locale[lang].cv.subsections.social_skills.activities -%></p>
      </header>
      <div><%- marked(cv.social_skills.activities[lang]) -%></div>
    </div>

    <div class="details">
      <header class="h3">
        <p><%= locale[lang].cv.subsections.social_skills.hobbies -%></p>
      </header>
      <div><%- marked(cv.social_skills.hobbies[lang]) -%></div>
    </div>
  </details>
</section>