<section id="technicalSkills">
  <details class="h3">
    <summary class="icon solid">
      <h3><%= locale[lang].cv.sections.technical_skills -%></h3>
    </summary>
<%_ for (const [subsection, subsection_contents] of Object.entries(cv.technical_skills)) { -%>
    <div class="details">
      <header class="h3">
        <p><%= locale[lang].cv.subsections.technical_skills[subsection] -%></p>
      </header>
<%_
  const subsection_entries = Object.entries(subsection_contents);
  for (let i = 0; i<subsection_entries.length;i++) {
    const [subsubsection, contents] = subsection_entries[i];
    if (i%2 == 0) {
-%>
      <div class="row">
<%_ } -%>
        <div class="col-6 col-12-mobilep">
          <h4><%= locale[lang].cv.technical_skills[subsubsection] -%></h4>
<%_ if (Array.isArray(contents) && contents.length) { -%>
          <div class="cv-skills">
            <%- include('mixins/skills.ejs', {skills: contents}); -%>
          </div>
<%_ } else if (lang in contents) { -%>
          <%- marked(contents[lang]) -%>
<%_ } -%>
        </div>
<%_
    if ((i+1)%2 == 0 || i == subsection_entries.length - 1) {
-%>
      </div>
<%_ }} -%>
    </div>
<%_ } -%>
  </details>
</section>