#banner {
  background-attachment:	scroll,							fixed;
  background-color:		#666;
  background-image:		url('images/overlay.png'),		url('../../images/banner.jpg');
  background-position:	top left,						center center;
  background-repeat:		repeat,							no-repeat;
  background-size:		auto,							cover;
  color: #fff;
  padding: 12em 0 20em 0;
  text-align: center;

  :last-child {
    margin-bottom: 0;
  }

  h2, h3, h4, h5, h6 {
    color: #fff;
  }

  h2 {
    font-size: 3.5em;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    padding: 0;
  }

  p {
    font-size: 1.25em;
    margin-bottom: 1.75em;
  }

  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  .button {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px rgba(255,255,255,0.5);
    color: #fff;
    min-width: 12em;

    &:hover {
      background-color: rgba(255,255,255,0.1);
    }

    &:active {
      background-color: rgba(255,255,255,0.2);
    }

    &.primary {
      background: #fff;
      color: #666 !important;
    }
  }
}