input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
  @include vendor('appearance', 'none');
  @include vendor('transition', ('background-color #{_duration(transition)} ease-in-out', 'color #{_duration(transition)} ease-in-out'));
  background-color: _palette(accent1, bg);
  border-radius: _size(border-radius);
  border: 0;
  color: _palette(accent1, fg-bold);
  cursor: pointer;
  display: inline-block;
  font-weight: _font(weight-bold);
  height: _size(element-height);
  line-height: _size(element-height);
  padding: 0 2em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    background-color: lighten(_palette(accent1, bg), 5);
  }

  &:active {
    background-color: darken(_palette(accent1, bg), 5);
  }

  &.icon {
    padding-left: 1.35em;

    &:before {
      margin-right: 0.5em;
    }
  }

  &.fit {
    width: 100%;
  }

  &.small {
    font-size: 0.8em;
    height: (_size(element-height) * 0.9);
    line-height: (_size(element-height) * 0.9);
  }

  &.large {
    font-size: 1.25em;
    height: (_size(element-height) * 0.9);
    line-height: (_size(element-height) * 0.9);
  }

  &.alt {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px _palette(border);
    color: _palette(fg);

    &:hover {
      background-color: _palette(border-bg);
    }

    &:active {
      background-color: _palette(border2-bg);
    }

    &.icon {
      &:before {
        color: _palette(fg-light);
      }
    }
  }

  &.primary {
    background-color: _palette(accent2, bg);
    color: _palette(accent2, fg-bold) !important;

    &:hover {
      background-color: lighten(_palette(accent2, bg), 5);
    }

    &:active {
      background-color: darken(_palette(accent2, bg), 5);
    }
  }

  &.disabled,
  &:disabled {
    background-color: _palette(fg) !important;
    box-shadow: inset 0 -0.15em 0 0 rgba(0,0,0,0.15);
    color: _palette(bg) !important;
    cursor: default;
    opacity: 0.25;
  }
}