#footer {
  background: #f0f0f0;
  padding: 4em 0 6em 0;
  text-align: center;

  .icons {
    a {
      @include vendor('transition', 'opacity #{_duration(transition)} ease-in-out');
      opacity: 0.35;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  .copyright {
    color: _palette(fg-light);
    font-size: 0.9em;
    line-height: 1em;
    margin: 2em 0 0 0;
    padding: 0;
    text-align: center;

    a {
      color: inherit;
    }

    li {
      border-left: solid 1px _palette(border2);
      display: inline-block;
      list-style: none;
      margin-left: 1em;
      padding-left: 1em;

      &:first-child {
        border-left: 0;
        margin-left: 0;
        padding-left: 0;
      }
    }
  }
}