#page-wrapper {
  padding-top: 3em;
}

body.landing {
  #page-wrapper {
    padding-top: 0;
  }
}

@include keyframes('reveal-header') {
  0% { top: -5em; }
  100% { top: 0; }
}

#header {
  background: _palette(header, bg);
  color: _palette(header, fg);
  cursor: default;
  height: 3.25em;
  left: 0;
  line-height: 3.25em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;

  h1 {
    color: inherit;
    height: inherit;
    left: 1.25em;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;

    a {
      color: _palette(header, fg-bold);
      font-weight: _font(weight-bold);
      border: 0;
    }
  }

  nav {
    height: inherit;
    line-height: inherit;
    position: absolute;
    right: 0.75em;
    top: 0;
    vertical-align: middle;

    > ul {
      list-style: none;
      margin: 0;
      padding-left: 0;

      > li {
        display: inline-block;
        padding-left: 0;

        > ul {
          display: none;
        }

        a {
          display: inline-block;
          height: 2em;
          line-height: 1.95em;
          padding: 0 1em;
          border-radius: _size(border-radius);
        }

        a:not(.button) {
          color: _palette(header, fg-bold);
          display: inline-block;
          text-decoration: none;
          border: 0;

          &.icon {
            &:before {
              color: _palette(header, fg-light);
              margin-right: 0.5em;
            }
          }
        }

        &:first-child {
          margin-left: 0;
        }

        &.active {
          a:not(.button) {
            background-color: transparentize(_palette(header, fg-light), 0.75);
          }
        }

        .button {
          margin: 0 0 0 0.5em;
          position: relative;
        }
      }
    }
  }

  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  .button {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px _palette(header, fg-light);
    color: _palette(header, fg-bold);

    &:hover {
      background-color: transparentize(_palette(header, fg-light), 0.75);
    }

    &:active {
      background-color: transparentize(_palette(header, fg-light), 0.5);
    }
  }

  .container {
    position: relative;

    h1 {
      left: 0;
    }

    nav {
      right: 0;
    }
  }

  &.reveal {
    @include vendor('animation', 'reveal-header 0.5s');
  }

  &.alt {
    @include vendor('animation', 'none');
    background: none;
    color: rgba(255,255,255,0.75);
    position: absolute;

    nav {
      > ul {
        > li {
          a:not(.button) {
            &.icon {
              &:before {
                color: rgba(255,255,255,0.75);
              }
            }
          }

          &.active {
            a:not(.button) {
              background-color: rgba(255,255,255,0.2);
            }
          }
        }
      }
    }

    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    .button {
      box-shadow: inset 0 0 0 2px rgba(255,255,255,0.5);

      &:hover {
        background-color: rgba(255,255,255,0.1);
      }

      &:active {
        background-color: rgba(255,255,255,0.2);
      }
    }
  }
}

.dropotron {
  background: #fff;
  border-radius: _size(border-radius);
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.065), inset 0 -1px 0 0 #fff, inset 0 0 0 1px transparentize(_palette(border), 0.5);
  list-style: none;
  margin: calc(-0.5em + 1px) 0 0 1px;
  padding: 0.5em 0;
  width: 11em;

  li {
    padding: 0;

    a, span {
      @include vendor('transition', 'none');
      border: 0;
      border-top: solid 1px #f2f2f2;
      color: inherit;
      display: block;
      padding: 0.15em 1em;
    }

    &:first-child {
      > a, > span {
        border-top: 0;
      }
    }

    &.active,
    &:hover {
      > a, > span {
        background: _palette(accent2, bg);
        color: _palette(accent2, fg-bold);
      }
    }
  }

  &.level-0 {
    font-size: 0.9em;
    margin: 1em 0 0 0;

    &:before {
      @include vendor('transform', 'rotate(45deg)');
      background: #fff;
      border: solid 1px transparentize(_palette(border), 0.5);
      border-bottom: 0;
      border-right: 0;
      box-shadow: -0.25em -0.125em 0.125em 0 rgba(0,0,0,0.015);
      content: '';
      display: block;
      height: 0.75em;
      position: absolute;
      right: 1.25em;
      top: -0.375em;
      width: 0.75em;
      z-index: 0;
    }
  }
}