#main {
  padding: 4em 0;

  > header {
    text-align: center;
    margin: 0 0 3em 0;

    h2 {
      font-size: 2.75em;
      margin: 0;
    }

    p {
      border-top: solid 2px _palette(border);
      color: _palette(fg);
      display: inline-block;
      font-style: normal;
      margin: 1em 0 0 0;
      padding: 1em 0 1.25em 0;
    }
  }
}

body.landing {
  #main {
    margin-top: -14em;
  }
}