/* Wide */

@include breakpoint('<=wide') {

  /* Basic */

    body, input, select, textarea {
      font-size: 13pt;
    }

  /* Banner */

    #banner {
      padding: 10em 0 18em 0;
    }

}

/* Normal */

@include breakpoint('<=normal') {

  /* Basic */

    body, input, select, textarea {
      font-size: 11pt;
    }

  /* Header */

    .dropotron {
      &.level-0 {
        font-size: 1em;
      }
    }

  /* Banner */

    #banner {
      background-attachment: scroll;

      h2 {
        font-size: 3.5em;
      }
    }

}

/* Narrow */

@include breakpoint('<=narrow') {

  /* Basic */

    body, input, select, textarea {
      font-size: 11pt;
    }

}

/* Narrower */

#navPanel, #navButton {
  display: none;
}

@include breakpoint('<=narrower') {

  /* Basic */

    html, body {
      overflow-x: hidden;
    }

    body, input, select, textarea {
      font-size: 11pt;
    }

    h2, h3, h4, h5, h6 {
      br {
        display: none;
      }
    }

  /* Section/Article */

    header {
      br {
        display: none;
      }

      &.major {
        padding: 0 4em;
      }
    }

  /* Box */

    $box-padding-vertical: 3em;
    $box-padding-horizontal: 2em;

    .box {
      padding: $box-padding-vertical $box-padding-horizontal;

      &.features {
        > section {
          padding: $box-padding-vertical $box-padding-horizontal;
        }
      }

      .image {
        &.featured {
          margin-left: ($box-padding-horizontal * -1);
          width: calc(100% + #{$box-padding-horizontal * 2});

          &:first-child {
            margin-bottom: $box-padding-vertical;
            margin-top: $box-padding-vertical * -1;
          }

          &:last-child {
            margin-bottom: $box-padding-vertical * -1;
            margin-top: $box-padding-vertical;
          }
        }
      }
    }

  /* Header */

    #page-wrapper {
      padding-top: 0;
    }

    #header {
      display: none;
    }

  /* Banner */

    #banner {
      //padding: 6em 2em;
    }

  /* Nav */

    #page-wrapper {
      @include vendor('backface-visibility', 'hidden');
      @include vendor('transition', 'transform #{_duration(navPanel)} ease');
      padding-bottom: 1px;
    }

    #navButton {
      @include vendor('backface-visibility', 'hidden');
      @include vendor('transition', 'transform #{_duration(navPanel)} ease');
      display: block;
      height: 44px;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: _misc(z-index-base) + 1;

      .toggle {
        @include icon(false, solid);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        border: 0;
        outline: 0;

        &:before {
          background: rgba(192,192,192,0.75);
          border-radius: _size(border-radius);
          color: #fff;
          content: '\f0c9';
          display: block;
          font-size: 16px;
          height: 2.25em;
          left: 0.5em;
          line-height: 2.25em;
          position: absolute;
          text-align: center;
          top: 0.5em;
          width: 3.5em;
        }
      }
    }

    #navPanel {
      @include vendor('backface-visibility', 'hidden');
      @include vendor('transform', 'translateX(#{_size(navPanel) * -1})');
      @include vendor('transition', ('transform #{_duration(navPanel)} ease'));
      display: block;
      height: 100%;
      left: 0;
      overflow-y: auto;
      position: fixed;
      top: 0;
      width: _size(navPanel);
      z-index: _misc(z-index-base) + 2;
      background: darken(_palette(header, bg), 10);
      color: _palette(header, fg);

      .link {
        border-bottom: 0;
        border-top: solid 1px rgba(255,255,255,0.05);
        color: _palette(header, fg);
        display: block;
        height: 44px;
        line-height: 44px;
        padding: 0 1em 0 1em;
        text-decoration: none;

        &:first-child {
          border-top: 0;
        }

        &.depth-0 {
          color: _palette(header, fg-bold);
        }

        .indent-1 { display: inline-block; width: 1em; }
        .indent-2 { display: inline-block; width: 2em; }
        .indent-3 { display: inline-block; width: 3em; }
        .indent-4 { display: inline-block; width: 4em; }
        .indent-5 { display: inline-block; width: 5em; }
      }
    }

    body {
      &.navPanel-visible {
        #page-wrapper {
          @include vendor('transform', 'translateX(#{_size(navPanel)})');
        }

        #navButton {
          @include vendor('transform', 'translateX(#{_size(navPanel)})');
        }

        #navPanel {
          @include vendor('transform', 'translateX(0)');
        }
      }
    }

}

/* Mobile */

@include breakpoint('<=mobile') {

  /* Basic */

    body, input, select, textarea {
      font-size: 11pt;
    }

    h2 {
      font-size: 1.75em;
      line-height: 1.35em;
      letter-spacing: -0.025em;
    }

    h3 {
      font-size: 1.5em;
    }

    h4 {
      font-size: 1em;
    }

  /* Section/Article */

    header {
      &.major {
        padding: 1em;

        h2, p {
          padding-left: 0.5em;
          padding-right: 0.5em;
        }
      }
    }

  /* Box */

    $box-padding-vertical: 2em;
    $box-padding-horizontal: 2em;

    .box {
      margin: (_size(element-margin) * 0.5);
      overflow-x: hidden;
      padding: $box-padding-vertical $box-padding-horizontal !important;

      &.features {
        .features-row {
          border-top: 0;
          padding: 0;

          section {
            border: 0;
            border-top: solid 1px _palette(border) !important;
            float: none;
            margin: $box-padding-vertical 0 0 0 !important;
            padding: $box-padding-vertical 0 0 0 !important;
            width: 100%;
          }

          &:first-child {
            section {
              &:first-child {
                border-top: 0 !important;
                margin-top: 0 !important;
                padding-top: 0 !important;
              }
            }
          }
        }
      }

      .image {
        &.featured {
          margin-left: ($box-padding-horizontal * -1);
          width: calc(100% + #{$box-padding-horizontal * 2});

          &:first-child {
            margin-bottom: $box-padding-vertical;
            margin-top: $box-padding-vertical * -1;
          }

          &:last-child {
            margin-bottom: $box-padding-vertical * -1;
            margin-top: $box-padding-vertical;
          }
        }
      }
    }

  /* Banner */

    #banner {
      padding: 4em 0;

      h2 {
        font-size: 2.25em;
      }

      p {
        font-size: 1.25em;
      }
    }

  /* Main */

    #main {
      padding: 4em 0 0 0;

      > header {
        margin: 0 2em 1.5em 2em;

        h2 {
          font-size: 2em;
        }

        p {
          font-size: 1em;
          padding-bottom: 1em;
        }
      }
    }

    body.landing {
      #main {
        padding: 0;
        margin-top: 0;
      }
    }

  /* Footer */

    #footer {
      padding: 4em 0;

      .copyright {
        li {
          border-left: 0;
          display: block;
          line-height: 2em;
          margin-left: 0;
          padding-left: 0;
        }
      }
    }

}

/* Mobile (Portrait) */

@include breakpoint('<=mobilep') {

  /* Basic */

    html, body {
      min-width: 320px;
    }

    body, input, select, textarea {
      font-size: 11pt;
    }

  /* Section/Article */

    header {
      &.major {
        padding: 0;
      }
    }

  /* List */

    ul {
      &.actions {
        margin: 0 0 _size(element-margin) 0;

        li {
          display: block;
          padding: (_size(element-margin) * 0.5) 0 0 0;
          text-align: center;
          width: 100%;

          &:first-child {
            padding-top: 0;
          }

          > * {
            width: 100%;
            margin: 0 !important;

            &.icon {
              &:before {
                margin-left: -2em;
              }
            }
          }
        }

        &.small {
          li {
            padding: (_size(element-margin) * 0.25) 0 0 0;

            &:first-child {
              padding-top: 0;
            }
          }
        }
      }
    }

  /* Box */

    $box-padding-vertical: 3em;
    $box-padding-horizontal: 1em;

    .box {
      border-radius: 0;
      box-shadow: none;
      margin: (_size(element-margin) * 0.5) 0 0 0;
      padding: $box-padding-vertical $box-padding-horizontal !important;

      &.features {
        .features-row {
          section {
            margin: $box-padding-vertical 0 0 0 !important;
            padding: $box-padding-vertical 0 0 0 !important;
          }
        }
      }

      .image {
        &.featured {
          border-radius: 0;
          margin-left: ($box-padding-horizontal * -1);
          width: calc(100% + #{$box-padding-horizontal * 2});

          img {
            border-radius: 0 !important;
          }

          &:first-child {
            margin-bottom: $box-padding-vertical;
            margin-top: $box-padding-vertical * -1;
          }

          &:last-child {
            margin-bottom: $box-padding-vertical * -1;
            margin-top: $box-padding-vertical;
          }
        }
      }
    }

  /* Banner */

    #banner {
      padding: 5em 3em 4em 3em;
    }

  /* Main */

    #main {
      > .box {
        &:first-child {
          margin-top: 0;
        }
      }
    }

  /* CTA */

    #cta {
      padding: 2.5em 1em 3em 1em;
    }

}