<%# OpenGraph Metadata -%>
<%_
    for (const [ns, items] of Object.entries(metadata.opengraph)) {
      for (let [key, value] of Object.entries(items)) {
        if (value == "%TITLE%") value = title;
        if (value == "%DESCRIPTION%") value = description;
        if (value == "%URL%") value = config.base_dir;
-%>
  <meta property="<%= `${ns}:${key}` %>" content="<%= value %>" />
<%_ }} -%>
<%# Twitter Metadata -%>
<%_
    for (let [key, value] of Object.entries(metadata.twitter)) {
      if (value == "%TITLE%") value = title;
      if (value == "%DESCRIPTION%") value = description;
      if (value == "%URL%") value = config.base_dir;
-%>
  <meta name="twitter:<%= key %>" content="<%= value %>" />
<%_ } -%>
<%# Schema.org Metadata -%>
  <script type="application/ld+json"><%_
    const ld_json = {};
    for (let [key, value] of Object.entries(metadata.schema_org)) {
      if (value == "%TITLE%") value = title;
      if (value == "%DESCRIPTION%") value = description;
      if (value == "%URL%") value = config.base_dir;
      ld_json[key] = value;
    };
-%><%- JSON.stringify(ld_json); -%></script>